@import "tailwindcss";
@tailwind utilities;

@custom-variant light (&:where(.light &));

@custom-variant dark (&:where(.dark &));


html {
    background-color: var(--bg-bg-dark);
  color:var(--color-text-dark);
}

html.light {
  color-scheme: white;
  /* background-color: var(--bg-bg-light);
  color:var(--color-text-light); */
}


